.App {
  display: block;
  margin: 0 auto;
  max-width: 710px;
}

.App .container {
  margin-top: 80px;
}

.App footer {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}

.App a {
  text-decoration: none;
  color: #9a9ea1;
}
