.Weather {
  display: block;
  border: 1px solid #eceef0;
  border-radius: 5px;
  margin: 30 auto 0 auto;
  padding: 20px;
}

.Weather .main-temperature {
  box-sizing: border-box;
  display: inline;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  text-align: right;
}

.Weather .unit {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  top: -28px;
}

.Weather .weather-icon {
  display: inline-block;
  position: relative;
  top: -17px;
}

.Weather h1 {
  color: rgb(32, 33, 36);
  display: block;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  text-align: right;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  color: rgb(112, 117, 122);
  display: block;
  font-weight: 400;
}

.Weather .current-day-time li {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.Weather .weather-details li {
  font-size: 12px;
  line-height: 16px;
}
.Weather .weather-details {
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
}
