.Weather {
  display: block;
  border: 1px solid rgb(236, 238, 240, 0.5);
  border-radius: 30px;
  box-shadow: 0 8px 15px 0 rgb(112, 117, 122, 0.3);
  background-color: rgb(236, 238, 240, 0.5);
  font-family: "Open Sans", sans-serif;
  padding: 25px;
  padding-left: 40px;
}

.Weather form {
  display: block;
}

.Weather .form-control {
  width: 100%;
  height: 52px;
  border: solid 1px #f6f6f7;
  border-radius: 50px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.Weather .btn-primary {
  width: 63%;
  height: 52px;
  border: solid 1px #f6f6f7;
  border-radius: 30px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

.Weather .main-temperature {
  box-sizing: border-box;
  display: inline;
  font-size: 60px;
  font-weight: 300;
  line-height: 64px;
  text-align: right;
}

.Weather .unit,
.Weather .unit-fa {
  display: inline;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  top: -30px;
}
.Weather .unit-fa {
  top: -15px;
  left: -10px;
}

.Weather canvas {
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 5px;
}

.Weather .icon-wrapper {
  padding-left: 5px;
}

.Weather h1 {
  color: rgb(32, 33, 36);
  display: inline-block;
  font-size: 40px;
  font-weight: 300;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  display: block;
}

.Weather .weather-details li {
  color: rgb(32, 33, 36);
  font-size: 15px;
  line-height: 20px;
}

.Weather .weather-details .weather-description {
  font-size: 17px;
  font-weight: 600;
}

.Weather .weather-details .humidity,
.Weather .weather-details .wind-speed {
  color: rgb(112, 117, 122);
}

.WeatherTemp a {
  color: #727679;
}
